{% extends "layout.html" %}

{% load static %}

{% block body %}
<div id="collapse1114" class="collapse in">
    <div class="cat-detail g-grid-c10">
        <div class="g-grid-5">
            <!-- luc giac chim dau tru -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/luc-giac-chim-dau-tru.html">
                        <img alt="Lục Giác Chìm Đầu trụ"
                            src="{% static 'IMG/LUC GIAC CHIM DAU TRU.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/luc-giac-chim-dau-tru.html"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/luc-giac-chim.qDGO">
                            Lục Giác Chìm Đầu Trụ </a>
                    </h3>
                </div>
            </div>
            <!-- luc giac chim dau cau -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px;min-height: 225px;">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/luc-giac-chim-dau-cau.html"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/luc-giac-chim.qDGO" rel="nofollow">
                        <img alt="Lục Giác Chìm Đầu Cầu"
                            src="{% static 'IMG/LUC GIAC CHIM DAU CAU.jpg' %}"
                            style="max-width:100%; padding-top: 22px;">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/luc-giac-chim-dau-cau.html"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/luc-giac-chim.qDGO">
                            Lục Giác Chìm Đầu Cầu </a>
                    </h3>
                </div>
            </div>
            <!-- luc giac chim dau bang -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px; min-height: 225px;">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/luc-giac-chim.qDGO"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/luc-giac-chim.qDGO" rel="nofollow">
                        <img alt="Lục Giác Chìm Đầu Bằng"
                            src="{% static 'IMG/LUC GIAC CHIM DAU BANG.jpg' %}"
                            style="max-width:100%;padding-top: 22px;">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/luc-giac-chim.qDGO"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/luc-giac-chim.qDGO">
                            Lục Giác Chìm Đầu Bằng </a>
                    </h3>
                </div>
            </div>
            <!-- vit pake -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <a href="/vit-pake.yN"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/vit-pake.yN" rel="nofollow">
                        <img alt="Bulong Pake"
                            src="{% static 'IMG/Vit Pake.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/vit-pake.yN"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/vit-pake.yN">
                            Bulong Pake </a>
                    </h3>
                </div>
            </div>
            <!-- luc giac ngoai -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/bulong.Jea"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/bulong.Jea" rel="nofollow">
                        <img alt="Bulong"
                            src="{% static 'IMG/bulong..jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>  
                <div class="general-box-header">
                    <h3>
                        <a href="/bulong.Jea"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/bulong.Jea">
                            Bulong </a>
                    </h3>
                </div>
            </div>
            <!-- ren cay -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="ren cấy"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/ren-cay.J1O"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/ren-cay.J1O" rel="nofollow">
                        <img alt="Ren Cấy"
                            src="{% static 'IMG/REN CAY.webp' %}"
                            style="max-width:100%;padding: 20px;">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/ren-cay.J1O"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/ren-cay.J1O">
                            Ren Cấy </a>
                    </h3>
                </div>
            </div>
            <!-- vit tri -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 10px; margin-bottom: 10px;min-height: 225px;">
                    <a href="/vit-tri.lej"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/vit-tri.lej" rel="nofollow">
                        <img alt="Vít Trí"
                            src="{% static 'IMG/VIT TRI.JPG' %}"
                            style="max-width:100%;padding-top: 20px;">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/vit-tri.lej"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/vit-tri.lej">
                            Vít Trí </a>
                    </h3>
                </div>
            </div>
            <!-- dai oc -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/tan-dai-oc.GB"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/tan-dai-oc.GB" rel="nofollow">
                        <img alt="Tán - Đai Ốc"
                            src="{% static 'IMG/DAI OC.webp' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/tan-dai-oc.GB"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/tan-dai-oc.GB">
                            Tán - Đai Ốc </a>
                    </h3>
                </div>
            </div>
            <!-- long den -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/long-den.WR"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/long-den.WR" rel="nofollow">
                        <img alt="Long Đen"
                            src="{% static 'IMG/LONG ĐEN.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/long-den.WR"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/long-den.WR">
                            Long Đen </a>
                    </h3>
                </div>
            </div>
            <!-- phe cai -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/phe-gai.Je"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/phe-gai.Je" rel="nofollow">
                        <img alt="Phe Gài"
                            src="{% static 'IMG/ring.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/phe-gai.Je"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/phe-gai.Je">
                            Phe Gài </a>
                    </h3>
                </div>
            </div>
            <!-- vit tu khoan -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <a href="/vit-tu-khoan.wB"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/vit-tu-khoan.wB" rel="nofollow">
                        <img alt="Vít Tự Khoan"
                            src="{% static 'IMG/VÍT TỰ KHOAN.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/vit-tu-khoan.wB"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/vit-tu-khoan.wB">
                            Vít Tự Khoan </a>
                    </h3>
                </div>
            </div>
            <!-- ty ren -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/ty-ren-guzong.NYK"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/ty-ren-guzong.NYK" rel="nofollow">
                        <img alt="Ty Ren - Guzong"
                            src="{% static 'IMG/TY REN..jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/ty-ren-guzong.NYK"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/ty-ren-guzong.NYK">
                            Ty Ren - Guzong </a>
                    </h3>
                </div>
            </div>
            <!-- tac ke -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/tac-ke.qm"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/tac-ke.qm" rel="nofollow">
                        <img alt="Tắc Kê"
                            src="{% static 'IMG/tắc kê.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/tac-ke.qm"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/tac-ke.qm">
                            Tắc Kê </a>
                    </h3>
                </div>
            </div>
            <!-- rivet -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/rive.vxE"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/rive.vxE" rel="nofollow">
                        <img alt="Rivet"
                            src="{% static 'IMG/RIVET NHÔM.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/rive.vxE"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/rive.vxE">
                            Rivet </a>
                    </h3>
                </div>
            </div>
            <!-- cum u -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <a href="/cum-u.4y5"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/cum-u.4y5" rel="nofollow">
                        <img alt="Cùm U"
                            src="{% static 'IMG/CÙM U...jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/cum-u.4y5"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/cum-u.4y5">
                            Cùm U </a>
                    </h3>
                </div>
            </div>
            <!-- bulong mat -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <a href="/bulong-mat-2.JxBy"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/bulong-mat-2.JxBy" rel="nofollow">
                        <img alt="Bulong Mắt"
                            src="{% static 'IMG/BULONG MAT. (1).jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/bulong-mat-2.JxBy"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/bulong-mat-2.JxBy">
                            Bulong Mắt </a>
                    </h3>
                </div>
            </div>
            <!-- dai siet -->
            <div class="g-grid-cell general-box-icon" style="padding: 0px; cursor: default">
                <div class="general-box-content"
                    style="position:relative;text-align:center; padding: 20px; margin-bottom: 10px">
                    <img alt="hàng có sẵn"
                        src="{% static 'IMG/instock-tag-category.png' %}"
                        style="position:absolute;top:5px;left:0px;width:50%">
                    <a href="/daisiet-2.JxBy"
                        onclick="FilterAjx.selectCategory(this); return false;"
                        data-cat_link="/san-pham/daisiet-2.JxBy" rel="nofollow">
                        <img alt="Bulong Mắt"
                            src="{% static 'IMG/DAI SIET.jpg' %}"
                            style="max-width:100%">
                    </a>
                </div>
                <div class="general-box-header">
                    <h3>
                        <a href="/daisiet-2.JxBy"
                            onclick="FilterAjx.selectCategory(this); return false;"
                            data-cat_link="/san-pham/daisiet-2.JxBy">
                            Đai Siết </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}