{% extends "layout.html" %}
{% load static %}


{% block customerCSS %}
    <link href="{% static 'css/customeCSSItemView.css' %}" rel="stylesheet">
{% endblock %}
    
{% block body %}
    <div id="tit">
        <p>Linh kiện siết chặt</p>
        <h1>{{ item.get_name_display }}</h1>
        <dl>
            <dt>
                <span>Vật liệu</span>
            </dt>
            <dd>Thép・SUS304・SUS201</dd>
        </dl>
    </div>
    <div class="flex-layout" style="display: flex; justify-content: space-between;">
        <div class="flex-column-left" style="width: 18%;">

            <img alt="{{ item.get_name_display }}"
                src="{% static "" %}img/{{ item.img_path }}"
                style="width: 100%;">
        </div>

        <div class="flex-column-right" style="width: 78%;">
            <p>{{ item.item_desc }}</p>
        </div>
    </div>

    <div style="margin-top: 24px;">
        <p>{{ item.item_desc }}</p>
    </div>

    <div class="quote">
        <p>test</p>
    </div>

{% endblock %}