{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VATTUTOT - Kho linh kiện siết của nhà máy</title>

    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://vattutot.com.vn">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="vattutot.com.vn">
    <meta name="keywords" content="bu-lông đai-ốc vít">
    <meta property="og:title" content="VATTUTOT - Kho linh kiện siết của nhà máy">
    <meta name="description" content="Kho hàng online của nhà máy.">
    <meta property="og:description" content="Kho hàng online của nhà máy.">
    <!-- <meta property="og:image" content="https://vattutot.com.vn/hinh-anh-8843"> -->
    <link href="https://vattutot.com.vn/" rel="canonical">

    <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/_all-skins.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
    <link href="{% static 'css/ivy.css' %}" rel="stylesheet">
    <link href="{% static 'css/nifty.css' %}" rel="stylesheet">
    <link href="{% static 'css/mecsu.css' %}" rel="stylesheet">
    <link href="{% static 'css/ordering.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/smoothproducts.css' %}" rel="stylesheet">
    <link href="{% static 'css/product-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/faq.css' %}" rel="stylesheet">
    <link href="{% static 'css/customCSScommon.css' %}" rel="stylesheet">

    {% block customerCSS %}

    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}">

</head>
<body class="layout-top-nav" style="overflow-x: auto;">
    <div class="wrapper">
        <div class="pre-header">
            <div class="container">
                <div class="row">
                    <!-- BEGIN TOP BAR LEFT PART -->
                    <div class="col-md-2">
                        <a class="navbar-brand" href="https://vattutot.com.vn/" style="padding-left: 0px">
                            <img alt="CÔNG TY TNHH VẬT TƯ TỐT"
                                src="{% static 'img/VTT_logo.jpg' %}" width="240px">
                        </a>
                    </div>
                    <!-- END TOP BAR LEFT PART -->

                    <div class="col-md-7" style="padding-top: 50px;display: flex; justify-content: flex-end;">
                        <a href="/ho-tro-ky-thuat/catalogues" class="btn btn-link">Catalogues</a>
                        <a href="https://blog.vattutot.com.vn/" class="btn btn-link">Blog</a>
                        <a href="/dich-vu-khach-hang" class="btn btn-link">Câu hỏi thường gặp</a>
                        <a href="/don-hang-cua-toi" class="btn btn-link">Theo dõi đơn hàng</a>
                        <a href="/bao-gia-cua-toi" class="btn btn-link">Theo dõi báo giá</a>
                    </div>

                    <!-- BEGIN TOP BAR MENU -->
                    <div class="col-md-3">
                        <div class="pull-right" style="height: 95px">
                            <div style="float: left; display: block; line-height: 95px;">
                                <a href="/tai-khoan"><img alt="user_icon"
                                        src="{% static 'img/user.png' %}"></a>
                            </div>
                            <div class="flex-box" style="max-width: 200px; height: 100%">
                                <ul class="list-unstyled list-inline">
                                    <li><a href="/dang-nhap" style="color: #2E353B;">Đăng
                                            nhập</a></li>
                                    <li><a href="/dang-ky" style="color: #2E353B;">Đăng ký</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END TOP BAR MENU -->
                </div>
            </div>
        </div>
        <!-- END TOP BAR -->
        <div style="height: 60px; background-color:#007dc3;">
            <div class="container">
                <div style="float:left; padding-top: 8px;">
                    <div class="btn-group" style="vertical-align:inherit">
                        <a class="btn btn-default dropdown-toggle menu-item"
                            style="margin: 0px; color: #2e353b; background-color: #fff; width: 285px; height: 44px; font-weight: bold"
                            data-toggle="dropdown">
                            DANH MỤC SẢN PHẨM
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu"
                            style="margin-top: 8px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 16px;">
                            <li>
                                <a href="#collapse1114"
                                    style="color: #2e353b;">Bu-lông ốc vít</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="float:left; padding-top: 8px; margin-left: 15px">
                    <!-- <form method="get" onsubmit="return FilterAjx.search_global(this)"> -->
                    <div class="input-group" style="width: 580px;">
                        <input type="text" name="gterm" class="form-control"
                            style="font-size: 18px; height: 44px; color: #464646; background-color: #fff;"
                            placeholder="Nhập MPN hoặc Tên Sản Phẩm để tìm kiếm">
                        <span class="input-group-btn">
                            <button type="submit" id="search-btn" class="btn btn-flat"
                                style="height: 44px; background-color: #fec537;"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- </form> -->
                </div>
                <div style="float:right; padding-top: 8px;">
                    <a href="/lien-he" class="btn btn-default menu-item"
                        style="font-size: 16px; width: 155px; height: 44px; margin: 0px 15px 0px 0px;">Hỗ trợ đặc
                        biệt</a>
                    <a href="javascript:void(0)" onclick="Ordering.go_to_cart(this)" class="btn btn-flat menu-item"
                        style="color: #2e353b; background-color: #fec537; font-size: 16px; margin: 0px; width: 155px; height: 44px;">
                        <i class="fa fa-opencart" style="margin-right:6px"></i>
                        Giỏ hàng
                        <span id="cart_items_count"
                            style="padding:0px 6px;font-weight:bold;color:rgb(255, 255, 255);background:rgb(253, 0, 0) none repeat scroll 0% 0%;border-radius:2px;display:none"></span>
                    </a>
                    <!-- <form id="dynamic_cart_form" action="/gio-hang" method="POST">
                        <input type="hidden" name="_csrf"
                            value="4gMcFbpRUSJSa26IRhKc28iGlfdW086x38HIsjSwrdbTOy1iyWIEcRgDMbEDJrGLuNOipwG7u8CrgIzwfN3Gkw==">
                        <input type="hidden" name="data">
                    </form> -->
                </div>
                <div style="clear:both"></div>
            </div>
        </div>

        <section>
            <!-- banner begin -->
            <div class="container" style="padding: 20px 10px;">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/bu-long-luc-giac-chim-dau-tru"
                            target="_blank"><img alt="home_banner1"
                                src="{% static 'img/Banner1.jpg' %}"
                                style="width: 100%"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/bu-long-luc-giac-chim-dau-tru" target="_blank"><img
                                alt="home_banner2"
                                src="{% static 'img/Banner2.jpg' %}"
                                style="width: 100%"></a>
                    </div>
                </div>
            </div>
            <!-- banner end -->

            <!-- slogan begin -->
            <div class="new_container">
                <div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px; background-color: #F2F2F2; margin: 0px auto 20px; max-width: 1230px;">
                    <div class="container">
                        <h3 style="padding-bottom: 20px; font-weight: bold; font-size: 38px; display: inline-block;">
                            HÃY ĐỂ
                        </h3>
                        <h3
                            style="padding-bottom: 20px; font-weight: bold; font-size: 38px; display: inline-block; color: red;">
                            VẬT TƯ TỐT
                        </h3>
                        <h3 style="padding-bottom: 20px; font-weight: bold; font-size: 38px; display: inline-block;"> HỖ TRỢ
                            BẠN
                        </h3>
                    </div>
                </div>
            </div>
            <!-- slogan end -->

            <div class="container">
                <div>
                    <div style="margin-bottom:10px;">
                        <!-- category list -->
                        <!-- body block -->
                        {% block body %}

                        {% endblock %}
                        <!-- endblock -->
                        
                    </div>
                </div>
                <div style="margin-top: 30px"></div>
            </div>

        </section>

        <!-- support button begin -->
        <div class="button-support" style="bottom: 90px">
            <a href="tel:0987918001">
                <img src="{% static 'img/phone-solid.svg' %}" height="40px" alt="PHONE_icon">
            </a>    
        </div>

        <div class="button-support">  
            <a href="mailto:sales@vattutot.com.vn">
                <img src="{% static 'img/button-support.png' %}" width="100%" alt="support_icon">
            </a>
        </div>
        <!-- support button end -->

        <!-- <div class="modal fade" id="global-notification-modal" tabindex="-1" role="dialog"
            aria-labelledby="global-notification-modal-label" style="display: none;">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="global-notification-modal-label"
                            style="text-transform: uppercase;font-size:16px;font-weight:bold;color:red">Mũi khoan Nachi
                        </h4>
                        <h4 class="modal-title" id="global-notification-modal-label" style="text-transform: uppercase;font-size:16px;font-weight:bold;color:red"></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <a href="/san-pham/mui-khoan.NYMg?atts=4093" target="_blank"><img
                                    alt="Mũi khoan Nachi"
                                    src="{% static 'img/big-sale-khoan-nachi.png"
                                    style="width: 100%"></a>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/GNu62jJ2uuw" title="Mua vật tư Fastener tại nhà" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <div class="text-center">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Quay về giỏ hàng</button>
                            </div>
                        </div>
                </div>
            </div>
        </div> -->

        <footer class="footer">
            <div class="container">
                <table style="border:none">
                    <tbody>
                        <tr>
                            <td style="border:none">
                            </td>
                            <td style="width:25%;vertical-align:top;border:none">
                                <a href="#" style="display: block; text-align: center;">
                                    <img src="{% static 'img/footer_logo.jpg' %}"
                                        alt="logo footer" width="200" height="auto">
                                </a>
                                <p style="text-align:center;margin-top:10px;font-size:16px;display: block;">
                                    KHO BU-LÔNG CỦA NHÀ MÁY
                                </p>
                            </td>
                            <td
                                style="width:25%; vertical-align:top; padding-left:60px; border:none; font-family: 'Noto Sans'; font-size: 16px; color: #f2f2f2">
                                <h2
                                    style="margin-top:0px;color:white;font-family:'Noto Sans';font-size: 16px;text-transform:uppercase">
                                    Chính sách mua hàng</h2>
                                <hr align="left" style="width: 25%;">
                                <p style="margin-bottom:6px"><a
                                        href="/cau-hoi-thuong-gap/thanh-toan"
                                        target="_blank">Hình thức thanh toán</a>
                                </p>
                                <!-- <p style="margin-bottom:6px"><a
                                        href="/cau-hoi-thuong-gap/dat-hang#huong-mua-hang-tren-website"
                                        target="_blank">Hướng dẫn mua online</a>
                                </p> -->
                                <p style="margin-bottom:6px"><a href="/dich-vu-khach-hang"
                                        target="_blank">Câu hỏi thường gặp</a>
                                </p>
                                <p style="margin-bottom:6px"><a
                                        href="/cau-hoi-thuong-gap/doi-hang" target="_blank">Chính
                                        sách đổi trả</a>
                                </p>
                            </td>
                            <td
                                style="width:25%;vertical-align:top;padding-left:60px;border:none;font-family: 'Noto Sans';font-size:16px;color: #f2f2f2;">
                                <h2
                                    style="margin-top:0px;color:white;font-family: 'Noto Sans';font-size:16px;text-transform:uppercase">
                                    Về Vật tư tốt</h2>
                                <hr align="left" style="width: 25%;">
                                <p style="margin-bottom:6px"><a
                                        href="/about/"
                                        target="_blank">Giới thiệu công ty</a>
                                </p>
                                <p style="margin-bottom:6px"><a
                                        href="/privacy" target="_blank">Chính
                                        sách bảo mật người dùng</a>
                                </p>
                                <p style="margin-bottom:6px"><a
                                        href="/cau-hoi-thuong-gap/khach-hang-vip"
                                        target="_blank">Khách hàng VIP</a>
                                </p>
                                <!-- <p style="margin-bottom:6px"><a href="https://blog.vattutot.com.vn/"
                                        target="_blank">Blog kỹ thuật cơ khí</a>
                                </p> -->
                            </td>
                            <td
                                style="width:25%;vertical-align:top;padding-left:60px;border:none;font-family: 'Noto Sans';font-size:16px;color: #f2f2f2;">
                                <h2
                                    style="margin-top:0px;color:white;font-family: 'Noto Sans';font-size:16px;text-transform:uppercase">
                                    Thông tin liên hệ</h2>
                                <hr align="left" style="width: 25%;">
                                <p style="font-size:14px">Văn phòng/Kho hàng: Thôn Dương Húc, Xã Đại Đồng, Huyện Tiên
                                    Du, Tỉnh Bắc Ninh</p>
                                <p style="font-size:14px">Giờ làm việc: 8h00 – 17h00 (T2-T7)</p>
                                <a href="tel:0987918001">
                                    <p style="font-size:14px">Tổng đài CSKH: 0987 918 001</p>
                                </a>
                                <a href="mailto:sales@vattutot.com.vn">
                                    <p style="font-size:14px">Email: sales@vattutot.com.vn</p>
                                </a>
                            </td>
                            <td style="border:none">
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none">
                            </td>
                            <td colspan="3" style="color:white;padding-top:10px;border:none;font-size:14px">© 2022. Công
                                ty TNHH Vật tư tốt. Chịu trách nhiệm nội dung: Nguyễn Văn Tuấn. Giấy chứng nhận Đăng ký
                                Kinh doanh số 2301212361 do Sở Kế hoạch và Đầu tư Tỉnh Bắc Ninh cấp ngày 10/06/2022
                            </td>
                            <td style="border:none;padding-left:60px;padding-top:10px">
                                <a href="http://online.gov.vn/Home/WebDetails/71868" target="_blank"><img
                                        rel="width:150px" alt="" title=""
                                        src="{% static 'img/logoSaleNoti.png' %}"
                                        style="width:150px"></a>
                            </td>
                            <td style="border:none">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/yii.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/ResizeSensor.js' %}"></script>
    <script src="{% static 'js/sticky-sidebar.js' %}"></script>
    <script src="{% static 'js/filterajx.js' %}"></script>
    <script src="{% static 'js/ordering.separate.min.js' %}"></script>
    <script src="{% static 'js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'js/js-language.js' %}"></script>
    <script src="{% static 'js/js-lang-messages' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
</body>
</html>