<p>Drilled head metric hexagon socket head cap screws normally are not available in screw sizes smaller than M3 nor larger than M36. The M3 and M4 nominal screw sizes have two drilled holes spaced 180 degrees apart. Nominal screw sizes M5 and larger have six drilled holes spaced 60 degrees apart unless the purchaser specifies two drilled holes. The positioning of holes on opposite sides of the socket should be such that the hole alignment check plug will pass completely through the head without any deflection. When so specified by the purchaser, the edges of holes on the outside surface of the head will be chamfered 45 degrees to a depth of 0.30 to 0.50 mm.</p>
{% load static %}<img alt="bu-long-luc-giac-chim-dau-tru"
    src="{% static 'img/metric-cap.png' %}"
    style="width: 50%;margin-left: auto; margin-right: auto; display: block;">

{% load static %}<img alt="bu-long-luc-giac-chim-dau-tru"
    src="{% static 'img/din-912-weights.jpg' %}"
    style="width: 100%;margin-left: auto; margin-right: auto; display: block;">