/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2014, 11:49:52 AM
    Author     : Minh
*/

html, body {
	background-color: white;
}

.ivy-auto-number {
	/* color: #428bca; */
	font-size:16px;
}

.ivy-delete-link {
	font-size:18px;
}

.ivy-delete-link-gray {
	color:gray;
}

.bg-ivy-gradient {
	/*
	background: #c0d6fc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c0d6fc), color-stop(1, #c3d9ff)) !important;
	background: -ms-linear-gradient(bottom, #c0d6fc, #c3d9ff) !important;
	background: -moz-linear-gradient(center bottom, #c0d6fc 0%, #c3d9ff 100%) !important;
	background: -o-linear-gradient(#c3d9ff, #c0d6fc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3d9ff', endColorstr='#c0d6fc', GradientType=0) !important;
	*/
	color: #fff;
	background: rgba(60,141,188,.35);
	margin-bottom: 0 !important;
}

.bg-title-gradient {
	background: #c0d6fc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c0d6fc), color-stop(1, #c3d9ff)) !important;
	background: -ms-linear-gradient(bottom, #c0d6fc, #c3d9ff) !important;
	background: -moz-linear-gradient(center bottom, #c0d6fc 0%, #c3d9ff 100%) !important;
	background: -o-linear-gradient(#c3d9ff, #c0d6fc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3d9ff', endColorstr='#c0d6fc', GradientType=0) !important;
	color: black;
	opacity: 0.95;
	z-index:1;
}

.ivy-btn
{
	font-size: 1em;
    color: transparent; /* Fix for Firefox */
    border-style: none;
    border-width: 0;
    padding: 0 0 0 16px !important; /* Fix for Internet Explorer */
    text-align: left;
    line-height: 1 !important;
	overflow: hidden;
    cursor: pointer;
	width: 36px;
    height: 36px;
	margin: 0 10px 0 10px;
}

.ivy-btn-save
{
    background: transparent url(../img/buttons/save.png) no-repeat scroll 0 0;
	background-size: 36px 36px;
}
/**
body.fixed > .header,
body.fixed .navbar {
  position: relative !important;
}
*/

.ivy-line {
	clear: both;
}

.ivy-line .col-sm-1, .ivy-line .col-sm-2, .ivy-line .col-sm-3, .ivy-line .col-sm-4, .ivy-line .col-sm-5,
.ivy-line .col-sm-6, .ivy-line .col-sm-7, .ivy-line .col-sm-8, .ivy-line .col-sm-9, .ivy-line .col-sm-10, .ivy-line .col-sm-11, .ivy-line .col-sm-12 {
	padding: 2px 2px 2px 2px;
}

.ivy-line .form-group, .ivy-line .help-block {
	margin: 0 0 2px 0;
}

.ivy-line label {
	margin: 0 0 0 0;
}

.operation-btns {
	text-align: center;
	margin: 8px;
}

.operation-btns .btn {
	min-width: 100px;
	margin: 4px 5px 4px 5px;
}

.operation-right {
	text-align: right;
}

.operation-right .btn {
	min-width: 60px;
}

select option {
	padding: 3px 0px 3px 0px;
}

.right-side > .content-header
{
	padding: 9px 10px 10px 10px;
}

body > .header .logo
{
	background: none repeat scroll 0 0 #fbfbfb;
}

/*
.logo:hover
{
	background: none repeat scroll 0 0 #fbfbfb !important;
}
*/

.form-box .header {
	background: #fff;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
	color: #367fa9;
}

.form-control {
	padding: 4px 4px !important;
}

.fc-left { padding-left:8px; }
.fc-right { padding-right:8px; }

.ivy-pop-dlg {
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 2000;
	border: none;
	background:  url("../img/ajax-loader2.gif") no-repeat scroll center center rgba(0, 0, 0, .6);
	color: white;
	overflow: auto;
}

.ivy-pop-frame {
	margin-top:20px;
	margin-bottom:20px;
	background-color: rgba(255, 255, 255, 1);
}

.ivy-pop-dlg iframe {
	border: none;
	border-radius: 2px;
}

.ivy-box-icon {
	font-size:20px;
	color:#00acd6 !important;
	padding-top:8px;
	float:left;
}

/*
.lockscreen {
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
*/

.login-shadow {
	-webkit-box-shadow: 5px 5px 10px 0px rgba(71,71,71,0.8);
	-moz-box-shadow: 5px 5px 10px 0px rgba(71,71,71,0.8);
	box-shadow: 5px 5px 10px 0px rgba(71,71,71,0.8);
	border-radius: 5px;
}

.btn-isearch {
	background-color: #00c0ef;
    border-color: #00acd6;
	color: #fff;
}

.btn-iadd {
	background-color: #fafafa;
    border-color: #ddd;
    color: #666;
}

.unread {
	font-weight: bold;
}

.ivy-form-group tr td div.form-group {
	margin-bottom: 0px !important;
}

.ivy-currency {
	/*font-family: 'Courier New';*/
	font-size: 14px;
	text-align: right;
    /*font-weight: bold;*/
}

.ui-autocomplete-loading {
	background: white url('../img/ajax-loader-small.gif') no-repeat right 4px center !important;
}

.right { text-align: right; }

.redactor-editor {
	font-family: "Source Sans Pro",sans-serif !important;
}

.timeline-body img {
	width: 100%;
}

.timeline > li > img {
    background: #d2d6de none repeat scroll 0 0;
    border-radius: 50%;
    color: #666;
    font-size: 15px;
    height: 40px;
    left: 13px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}

/*.note-book-bg {
    text-align:justify;
    line-height:21px;
    background-image:url(../img/dotted.svg);
}*/

@media print
{
	.box, .box-primary {
		box-shadow: none;
		border-top: none;
	}
	
	.breadcrumb, #yii-debug-toolbar, #yii-debug-toolbar-min, #yii-debug-toolbar-logo, .yii-debug-toolbar-toggler, .yii-debug-toolbar-block, .yii-debug-toolbar-bottom, .yii-debug-toolbar-top, .yii-debug-toolbar- {
		display: none;
	}
	
	.content-header {
		display: block;
	}
	
	table.ivy-detail-view th {
		border-top:solid 1px lightgray;
		padding: 5px;
	}

	table.ivy-detail-view td {
		border-top:solid 1px lightgray;
		padding: 5px;
	}
	
	table.table-detail th, table.table-detail td {
		padding:5px;
	}
	
	html, body {
		font-family: 'FreeSans';
		background-color: white;
	}
	
	.box-title {
		font-family: 'Quivira';
	}
	
	.ivy-currency {
		/*font-family: 'Free Mono';*/
		font-weight: bold;
	}
	
	.pdf-print .col-md-12 {
		padding:0px 5px 0px 5px;
	}
	
	.pdf-header {
		font-family: 'Sun-ExtA';
	}
	
	.pdf-total {
		font-family: 'Free Mono';
		font-weight: bold;
	}
	
	.box-body {
		padding-bottom: 0px;
        padding-top: 0px;
	}
    
    .table-borderless td {
        border:none;
    }
    
    /*.note-book-bg {
        text-align:justify;
        line-height:21.8px;
        background-image:url(../img/dotted.svg);
    }*/
}

.pdf-total label {
	margin-bottom: 0px;
}

table.ivy-report th {
	border-top:solid 1px lightgray;
	padding: 5px;
}

table.ivy-report td {
	border-top:solid 1px lightgray;
	padding: 5px;
}

table.ivy-report th, table.ivy-report td {
	padding:5px;
}

table.ivy-detail-view th {
	width:100px;
	white-space:nowrap;
	text-align:right;
	color:gray;
	font-weight:normal;
}

table.ivy-detail-view td {
	font-weight:bold;
}

.table {
	margin-bottom:0px;
}

.table-contact td {
	padding:2px 4px 2px 4px;
	border-top:solid 1px #eeeeee;
}

.table-detail td, th {
	padding:2px 4px 2px 4px;
}

.direct-chat-messages {
	height: auto;
}

.analysis_company {
	border:dashed 1px steelblue;
	background-color: lightgreen;
	border-radius: 4px;
	min-height:50px;
	margin-bottom: 25px;
	text-align: center;
	position: static;
}

.analysis_company a {
	position: absolute;
	top:0px;
	right:18px;
}

.mailbox-date {
	font-size:10px;
}

.call-log {
	border-radius: 2px;
	border-left: solid 2px gray;
	background-color: lightgray;
	padding:10px;
	margin-bottom: 2px;
}

.call-log-primary {
	border-left-color: #3c8dbc;
	background-color: #e4f0f7;
}

.call-log-success {
	border-left-color: #00a65a;
	background-color: #ebf7f2;
}

.call-log-warning {
	border-left-color: #f39c12;
	background-color: #faf1e1;
}

.call-log .call-log-time {
	font-family: 'Arial';
	font-size: 11px;
	font-weight: bold;
}

.el-finder-places {
	display: none !important;
}

.ivy-readonly input {
	background-color: #f8f8f8;
}

.ivy-ctd {
	width:30px;
	font-size:18px;
	padding:5px 0px 0px 0px;
}

.ivy-collapse {
	border: solid 1px lightgray;
}

.collapse-content {
	padding: 10px;
}

.ivy-collapse .form-group {
	margin-bottom: 15px;
}

.ivy-product-option-label:first-letter {
	text-transform: uppercase;
}

.arrow_box {
	position: relative;
	background: #f5f5f5;
	border: 1px solid #95b2cf;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 14px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #f5f5f5;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	border-color: rgba(149, 178, 207, 0);
	border-bottom-color: #95b2cf;
	border-width: 6px;
	margin-left: -6px;
}

.rpt-table {
	display:table;
	height:100%;
}

.rpt-table-cell {
	display:table-cell;
	vertical-align:top;
	height:100%;
	border:solid 1px lightgray;
	padding:4px 6px;
}

.rpt-table-name, .rpt-filter-name, .rpt-display-name, .rpt-table-name-loaded {
    background-color: #f8f9fa;
    border: 1px solid #a8a8a8;
	border-radius: 4px;
    cursor: pointer;
    margin: 4px 0;
    min-width: 240px;
    padding: 8px 4px;
}

.rpt-filter-name input, .rpt-filter-name select, .rpt-display-name input, .rpt-display-name select {
	height:30px;
	margin-left:4px;
}

.rpt-filter-name input[type="checkbox"], .rpt-display-name input[type="checkbox"] {
	height:auto;
	margin-left:4px;
}

.rpt-table-name input, .rpt-table-name select,
.rpt-table-name-loaded input, .rpt-table-name-loaded select {
    height:30px;
}

.rpt-disabled {
	pointer-events: none;
	opacity: 0.4;
}

.box {
	border-width: 1px;
}

.div-box {
	border: 1px solid #ccc;
	border-color: #d2d6de;
    border-radius: 0;
    box-shadow: none;
	background-color: #f8f8f8;
    background-image: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

/*button.dropdown-toggle > span.caret {
    display:none !important;
}*/

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top:-1px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color:#2e6e9e!important;
}

.ivy-line-hightlight input {
	background-color: #e9ffe9;
}

.ivy-collapse-trigger
{
    background-image: url(../img/pulldown.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 3px center;
    padding-right:22px !important;
}

.barcode-icon
{
    background: transparent url(../img/bar-code.png) no-repeat scroll 0 0;
	background-size: 256px 256px;
}

.ivy-line-selected input {
	background-color: #b2dfdb;
}

.ivy-line-selected-just input {
	background-color: #80cbc4;
    font-weight: bold;
}

.ivy-shelf {
	font-family: 'Courier New';
	font-size: 14px;
}