/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2022
    Author     : Mecsu Dev Team
*/

.faq {
    padding-left: 30px;
}

.faq .faq-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.faq .faq-header .faq-header-title {
    font-weight: bold;
    font-size: 28px;
}

.faq .faq-header .faq-header-subtitle {
    font-size: 16px;
}

.faq .faq-topic {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq .faq-topic .faq-topic-item {
    border: solid 4px transparent;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
}

.faq .faq-topic .faq-topic-item .faq-topic-item-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.faq .faq-topic .faq-topic-item .faq-topic-item-link {
    font-size: 14px;
}

.faq .faq-value {
    margin-top: 40px;
    margin-bottom: 20px;
}

.faq .faq-value .faq-value-title {
    font-weight: bold;
    font-size: 28px;
}

.faq .faq-value .faq-value-subtitle {
    font-size: 16px;
}

.faq .faq-value .faq-value-item {
    margin-top: 15px;
}

.faq .faq-value .faq-value-item .faq-value-item-title {
    padding: 0px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #454545;
}

.faq .faq-value .faq-value-item .faq-value-item-subtitle {
    margin: 10px 0px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #454545;
}

.faq .faq-value .faq-value-item .faq-value-item-link {
    margin-top: 20px;
}

.faq .faq-policy {
    margin-top: 40px;
    margin-bottom: 20px;
}

.faq .faq-policy-header{
    margin-bottom: 20px;
}

.faq .faq-policy .faq-policy-title {
    font-weight: bold;
    font-size: 28px;
}

.faq .faq-policy .faq-policy-subtile {
    font-size: 16px;
}

.faq .faq-policy .faq-policy-item {
    background-color: #F8F8F8;
}

.faq .faq-policy .faq-policy-item .faq-policy-item-header {
    padding: 10px;
}

.faq .faq-policy .faq-policy-item .faq-policy-item-header h3 {
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #00599C;
}

.faq .faq-policy .faq-policy-item .faq-policy-item-body {
    padding: 20px;
}

.faq .faq-policy .faq-policy-item .faq-policy-item-footer {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}

.faq .faq-policy .faq-policy-item .faq-policy-item-footer a {
    font-weight: bold;
    font-size: 16px;
    color: #00599C;
}

.faq .faq-content img {
    width: 100%
}
